{% extends 'counter/base.html' %}
{% block content %}

{% include 'counter/header.html' %}
<div class="w-full p-3 bg-slate-100 rounded my-5">

    <p class="mb-5 text-xl font-bold">Accepted Orders</p>
    <div class="">
        <table class="w-full h-full text-left">
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Address</th>
                <th>Item * Quantity</th>
                <th>Status</th>
                <th>Payment</th>
                <th>Placed at</th>
                <th>Mark as</th>
                <th>Copy details</th>
            </tr>
            {% for order in orders %}
            <tr class="hover:bg-slate-200 rounded p-2"  id="row{{order.0.id}}">
                <input value="{{order.0.razorpay_order_id}}" id="order-details-orderid_{{order.0.id}}" hidden type="text">
                <input value="{{order.0.amount}}" id="order-details-amount_{{order.0.id}}" hidden type="text">
                <input value="{{order.0.payment_method}}" id="order-details-payment-method_{{order.0.id}}" hidden type="text">
                <td id="order-details-name_{{order.0.id}}">{{order.0.user.first_name}}</td>
                <td id="order-details-phone_{{order.0.id}}">{{order.1.number}}</td>
                <td id="order-details-address_{{order.0.id}}">{{order.1.address}}</td>
                <td>
                    
                    <span id="order-details-items_{{order.0.id}}">{% for p in order.2 %} {{p.0.name}} x {{p.1}}, {% endfor %}</span>
                    
                </td>
                <td>
                    <span class="text-white text-xs pb-1 px-2 rounded-md {% if order.0.order_status == 'rejected' %}bg-rose-500{% elif order.0.order_status == 'active' %}bg-cyan-500{% elif order.0.order_status == 'accepted' %}bg-emerald-500{% elif order.0.order_status == 'pending' %}bg-yellow-500{% elif order.0.order_status == 'completed' %}bg-blue-500{% endif %}">{{order.0.order_status}}</span>
                </td>
                <td>{{order.0.txn_status }}</td>
                <td>{{order.0.time}}</td>
                <td>
                    <button class="px-2 text-sm py-1 bg-rose-500 rounded text-white" value="{{order.0.id}}" id="MarkAsRejected" >Rejected</button>
                    <button class="px-2 text-sm py-1 bg-emerald-500 rounded text-white" value="{{order.0.id}}" id="MarkAsDelivered">Delivered</button>
                </td>
                <td>
                    <button class="px-2 text-sm py-1 bg-sky-500 rounded text-white" value="{{order.0.id}}" id="copy_address_details" >Copy</button>
                </td>
            </tr>
            {% endfor %}
        </table>      
    
    </div>
</div>
{% endblock %}