{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}" />
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Inter:wght@100..900&family=Teachers:wght@400..800&display=swap" rel="stylesheet">
    <title>CRAVIES @BBD</title>
</head>
<body class="bg-black">
    <div class="relative sm:max-w-[410px] sm:mx-auto bg-Canteen">
        
        {% if messages %}
            {% include 'store/modal.html' %}
        {% endif %}
        
        {% block content %}
        {% endblock %}
    </div>
</body>

<script src="{% static 'js/main.js' %}"></script>
</html>