{% extends 'store/base.html' %}
{% block content %}

<div class="px-3 pb-10 text-white">
    {% include 'store/header.html' %}
    {% include 'store/sweeper.html' %}
</div>

<div class="bg-white rounded-xl p-5 pt-0">
    <div class="flex items-center justify-center border-b-2 py-3 mx-2">
        <h2 class="text-5xl Cookie pe-2">Cart</h2> 
        <i class="fa fa-cart-plus" style="font-size:35px;"></i>
    </div>

    {% if not cartEmpty %}

    <div class="cart_listing flex flex-col gap-y-3">
        <p class="text-sm mt-5">Items description:</p>
        
       {% for product in products %}
        
            <div class="box flex border-b-2">
                <div class="grow">
                    <p>{{product.0.name}}</p>
                </div>
                <div class="price">
                    <p>{{product.0.price}} x {{product.1}}</p>
                </div>  
            </div>
    
        {% endfor %}
        
        <div class="box flex border-b-2">
            <div class="grow">
                <p>Delivery charge</p>
            </div>
            <div class="price">
                <p>Rs. {{deliveryCharge}}</p>
            </div>  
        </div>
        
        <div class="box flex border-b-2">
            <div class="grow">
                <p class="font-bold">Sum total</p>
            </div>
            <div class="price">
                <p class="font-bold">Rs. {{total}}</p>
            </div>  
        </div>
        
        <form action="../../payment/" method="post">
            {% csrf_token %}
            <div class="bg-slate-200 rounded-md p-2 mt-5 mb-2">
                <h4 class="text-sm mb-3">Communication Preferences</h4>
                    
                <fieldset class="mb-2"> 
                    <legend class="text-sm">Name: </legend>
                    <input type="text" readonly value="{{customer.user.first_name}}" class="w-full outline-none rounded text-sm py-1 px-2">
                </fieldset>
                
                <fieldset class="mb-2">
                    <legend class="text-sm">Phone: </legend>
                    <input type="text" name="againPhone" value="{{customer.number}}" class="w-full outline-none rounded text-sm py-1 px-2">
                </fieldset>
                
                <fieldset class="mb-2">
                    <legend class="text-sm">Address: </legend>
                    <input type="text" name="againAddress" value="{{customer.address}}" class="w-full outline-none rounded text-sm py-1 px-2">
                </fieldset>

                <fieldset class="my-2">
                    <legend class="text-sm">Payment Method: </legend>
                    <div class="ms-2">
                        <input type="radio" name="paymentmethod" value="cod">
                        <span>COD</span>
                    </div>
                    <div class="ms-2">
                        <input type="radio" name="paymentmethod" value="online" checked>
                        <span>Online Payment</span>
                    </div>
                </fieldset>
            </div>

            {% if total < 50 %}
            <div class="border-2 border-rose-600 p-3 rounded text-sm my-3">
                <p>Order amount must be greater than Rs. 50.</p>
            </div>
            <button type="submit" class="px-4 bg-rose-600 text-white p-2 rounded-md w-full ">Cannot Place Order <i class="fa fa-solid fa-cross ms-2"></i></button> 
            {% else %} 
            <button type="submit" class="px-4 bg-Canteen text-white p-2 rounded-md w-full">Checkout & make payment <i class="fa fa-solid fa-angle-right ms-2"></i></button> 
            {% endif %}
        </form>

    </div>
    {% else %}
    <p class="py-5 text-center">You cart is Empty</p>
    {% endif %}
</div>

{% include 'store/footer.html' %}

{% endblock %}
