{% extends 'store/base.html' %}
{% block content %}
    <div class="px-3 pb-10 text-white">
        {% include 'store/header.html' %}
        {% include 'store/sweeper.html' %}
    </div>

    <div class="login bg-white rounded-lg py-5">
        <form class="px-10" method="post" action="#">
            <label>
                <div class="my-5">
                    <h2 class="text-5xl text-center Cookie">Login</h2>
                </div>            
            </label>
            {% csrf_token %}
            {% for field in loginForm %}
                <div class="fieldWrapper mb-5">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            <button type="submit" class="bg-Canteen text-white px-8 rounded py-2">Login</button>
            <p class="mt-3">OR</p>
            <p class="mt-2 text-xs opacity-80">Didn't have an account??</p>
            <a href="../../register"><button type="button" class="bg-Canteen text-white px-8 rounded py-2">Register</button></a>
        </form>
    </div>

    {% include 'store/footer.html' %}
{% endblock %}